
<html>
  <head>
  <style>
  h1 {text-align: center;}
  </style>
  </head>
  <body>

<body background="https://wallpapercave.com/wp/wp9764023.jpg">
  <br>
  <br>
  <h1>USER LOGIN</h1>
<div class="container p-5">
  <div class="container">
  <form #userLoginForm="ngForm" (ngSubmit)="onSubmit(userLoginForm.value)">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control mb-4" name="email" [ngModel]="email" 
      required  #adminId="ngModel" [class.is-invaild]="adminId.invalid && adminId.touched"  >
         <small class="text-danger" [class.d-none]="adminId.valid || adminId.untouched">User Id is required feild</small>
    </div><br>
    
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control mb-4" name="password" [ngModel]="password" 
      required  #adminId="ngModel" [class.is-invaild]="adminId.invalid && adminId.touched"  >
         <small class="text-danger" [class.d-none]="adminId.valid || adminId.untouched">password is required feild</small>
    </div>
    <button type="submit" class="btn btn-success mb-4">Login</button>
  </form>

  </div>
</div>


