<mat-toolbar color=primary class="mat-evevation-z6">
    <span> <mat-icon> home </mat-icon> HOME LOAN</span>
    <div class="spacer" ></div>
    <a mat-button routerLink="dashboard">Home</a>
    <a mat-button routerLink="eligiblity">Eligiblity Calculator</a>
    <a mat-button routerLink="emi">Emi Calculator</a>
    <a mat-button routerLink="adminlogin">Admin Login</a>
    <a mat-button routerLink="userreg">Application Form</a>
    <a mat-button routerLink="userlogin">User LogIn</a>
    <a mat-button routerLink="aboutus">About Us</a>
   
    
</mat-toolbar>
